{% extends 'layout/_default.html.twig' %}

{% block main_default %}
    <div class="py-24 w-10/12 mx-auto flex justify-between gap-x-4">
        <div class="w-8/12">
            {{ include('fragment/_news_profil.html.twig') }}
        </div>

        <div class="w-4/12 h-56 sticky top-24">
            {{ include('fragment/_news_form.html.twig') }}
        </div>
    </div>
{% endblock %}
