{% extends'layout/_default.html.twig' %}

{% block main_default %}
    <div class="pb-20 pt-32 grid grid-cols-2 w-6/12 gap-4 mx-auto">
        {{ include('fragment/_all_friends.html.twig') }}
    </div>
{% endblock %}