{% extends 'layout/_centered.html.twig' %}


{% block main_centered %}
    <form method="post">
        {% if error %}
            <div class="text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% block connected %}
        {% endblock %}

        <div class="flex flex-col">
            <div class="flex flex-col justify-center items-center">
                <label class="my-4 text-lg text-white" for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="w-80 py-2 px-4 rounded-md" required
                       autofocus>
            </div>

            <div class="flex flex-col justify-center items-center">
                <label class="my-4 text-lg text-white" for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="w-80 py-2 px-4 rounded-md" required>
            </div>

            <div class="flex justify-between">
                <a href="{{ path('app_registerPage') }}" class="bg-gray-200 rounded-md text-gray-600 my-6 py-2 px-6" >
                    Register
                </a>
                <button class="bg-gray-900 rounded-md text-white my-6 py-2 px-6" type="submit">
                    Connexion
                </button>
            </div>

        </div>


        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}


    </form>
{% endblock %}
