{% extends 'layout/_default.html.twig' %}

{% block main_default %}
    <div class="bg-gradient-to-b from-gray-700 relative">
        {% include 'fragment/_header_profile.html.twig' %}
    </div>
{% endblock %}
