{% extends 'layout/_2_cols.html.twig' %}

{% block main_head %}
    <div class="w-10/12 mx-auto mt-32">
        {% include 'fragment/_tweet.html.twig' %}
    </div>
{% endblock %}



    {% block main_2_cols %}
        <div class="col-span-9">
            {{ include('fragment/_comment_tweet.htnl.twig') }}
        </div>
    {% endblock %}

    {% block asside %}
        <div class="col-span-3">
            {{ include('fragment/_news_form.html.twig') }}
        </div>
    {% endblock %}

