{% for user in all_users %}
    <div class="w-full mx-auto bg-gray-800 p-10 rounded-md text-white grid grid-cols-12 col-span-1">
        <div class="col-span-4">
            <img class="h-20 w-20 rounded-full bg-gray-500" src="img/{{ user.picture }}" alt="">
        </div>
        <div class="col-span-8 h-full flex flex-col justify-between">
            <div class="flex gap-x-4">
                <p>{{ user.firstName }}</p>
                <p>{{ user.lastName }}</p>
            </div>
            <a class="bg-gray-300 text-white py-2 px-6 rounded-md" href="{{ path('app_profileUserPage', {id: user.id}) }}">Profile</a>
        </div>
    </div>
{% endfor %}

