{% for comment in comments %}
    <div class="grid grid-cols-12 mb-10 p-10 rounded-xl bg-gray-200 shadow-xl">
        <div class="col-span-3 flex justify-center items-start">
            <img class="h-20 w-20 rounded-full bg-gray-800" src="{{ comment.userId.picture }}" alt="">
        </div>

        <div class="col-span-9">
            <div class="flex gap-x-3 mb-4">
                <a href="{{ path('app_profileUserPage', {id: comment.userId.id}) }}" class="flex gap-x-2">
                    <p>{{ comment.userId.firstName }}</p>
                    <p>{{ comment.userId.lastName }}</p>
                </a>
            </div>

            <p>{{ comment.message }}</p>
        </div>
    </div>

{% endfor %}