<header class="fixed top-0 z-50 w-full bg-gradient-to-r from-gray-900 via-gray-500 to-blue-50 flex justify-between">
    <ul class="flex shadow-2xl">
        <li class="text-white border-r border-white transition-all duration-200s hover:bg-blue-200 hover:text-gray-700">
            <a class="w-32 flex justify-center py-4" href="{{ path('app_feedPage') }}">Accueil</a>
        </li>

        <li class="text-white border-r border-white transition-all duration-200s hover:bg-blue-200 hover:text-gray-700">
            <a class="w-32 flex justify-center py-4" href="{{ path('app_friendsPage') }}">Amis</a>
        </li>

        <li class="text-white border-r border-white transition-all duration-200s hover:bg-blue-200 hover:text-gray-700">
            <a class="w-32 flex justify-center py-4" href="{{ path('app_profilePage') }}">Profile</a>
        </li>
    </ul>

    <div class="mr-6">
        {{ include('fragment/_logout.html.twig') }}
    </div>
</header>


