<div class="relative bg-gray-800">
    <div class="w-full h-96 bg-gradient-to-br from-blue-400 via-green-300 to-pink-400"></div>
    <img class="absolute -bottom-28 left-44 h-60 w-60 rounded-full bg-gray-800 border-4 border-gray-800"
         src="img/{{ picture }}" alt="">
</div>

<div class="w-6/12 mx-auto flex gap-x-3 text-white text-3xl pt-10">
    <p>{{ user }}</p>
    <p>{{ last_name }}</p>
    <p>{{ years }}</p>
</div>

<div class="flex py-20 justify-center gap-x-10  w-10/12 mx-auto">
    <div class="w-8/12">
        {% include 'fragment/_news_profil.html.twig' %}
    </div>

    <div class="w-4/12 h-56 sticky top-24">
        {% include 'fragment/_news_form.html.twig' %}
    </div>
</div>
