{{ form_start(formRegister) }}

<div class="flex flex-col mb-2">
    <div class="text-white">
        {{ form_label(formRegister.email, 'E.mail') }}
    </div>
    {{ form_errors(formRegister.email) }}
    {{ form_widget(formRegister.email, {'attr': {'class': 'rounded-md py-2 px-4'}}) }}
</div>

<div class="flex flex-col mb-2">
    <div class="text-white">
        {{ form_label(formRegister.password, 'Mot de passe') }}
    </div>
    {{ form_errors(formRegister.password) }}
    {{ form_widget(formRegister.password, {'attr': {'class': 'rounded-md py-2 px-4'}}) }}
</div>

<div class="flex gap-x-4">
    <div class="flex flex-col mb-2">
        <div class="text-white">
            {{ form_label(formRegister.first_name, 'Prenom') }}
        </div>
        {{ form_errors(formRegister.first_name) }}
        {{ form_widget(formRegister.first_name, {'attr': {'class': 'rounded-md py-2 px-4'}}) }}
    </div>

    <div class="flex flex-col mb-2">
        <div class="text-white">
            {{ form_label(formRegister.last_name, 'Nom') }}
        </div>
        {{ form_errors(formRegister.last_name) }}
        {{ form_widget(formRegister.last_name, {'attr': {'class': 'rounded-md py-2 px-4'}}) }}
    </div>
</div>

<div class="flex flex-col mb-10">
    <div class="flex flex-col mb-2">
        <div class="text-white">
            {{ form_label(formRegister.years, 'Annee de naissance') }}
        </div>
        {{ form_errors(formRegister.years) }}
        {{ form_widget(formRegister.years, {'attr': {'class': 'rounded-md py-2 px-4'}}) }}
    </div>

    <div class="flex flex-col mb-2 text-white">
        {{ form_label(formRegister.picture, 'Photo de profil') }}
        {{ form_errors(formRegister.picture) }}
        {{ form_widget(formRegister.picture) }}
    </div>
</div>

<button class="rounded-md text-white py-2 px-4 bg-gray-800 hover:bg-white hover:text-gray-700" type="submit">
    Enregistrer
</button>

{{ form_end(formRegister) }}

