<form class="flex flex-col" action="" method="posts">

    <label class="text-center my-4 text-white" for="mail">E.mail</label>
    <input class="w-80 bg-gray-300 rounded-md p-2" id="mail" name="mail" type="text">

    <label class="text-center my-4 text-white" for="password">Password</label>
    <input class="w-80 bg-gray-300 rounded-md p-2" id="password" name="password" type="text">

    <div class="flex justify-between items-center">
        <a class="text-center mt-10 w-28 p-2 bg-gray-800 text-white rounded-md hover:bg-white hover:text-gray-700 transition-all duration-300 cursor-pointer"
           href="{{ path('app_registerPage') }}">Inscription</a>
        <input class="mt-10 w-28 p-2 bg-gray-800 text-white rounded-md hover:bg-white hover:text-gray-700 transition-all duration-300 cursor-pointer"
               type="submit">
    </div>

</form>