<div class="flex-1 h-auto bg-gradient-to-b from-mango-500 via-green-300 to-indigo-300 rounded-xl p-3">
    <div class="flex flex-col">
        {{ form_start(formNews) }}

        {{ form_label(formNews.message, ' ') }}
        {{ form_errors(formNews.message) }}
        {{ form_widget(formNews.message, {'attr': {'placeholder': 'Rentrer une News', 'class': 'h-44 rounded-xl py-2 px-4 w-full'}}) }}

        <button class="rounded-md text-white py-2 px-4 bg-gray-800 hover:bg-white hover:text-gray-700" type="submit">Publier</button>

        {{ form_end(formNews) }}
    </div>
</div>