<div class="grid grid-cols-12 mb-10 p-10 rounded-xl bg-gray-200 shadow-xl">
    <div class="col-span-3 flex justify-center items-start">
        <img class="h-20 w-20 rounded-full bg-gray-500" src="img/{{ tweet.userId.picture }}" alt="">
    </div>

    <div class="col-span-9">
        <div class="flex gap-x-3 mb-4">
            <a href="{{ path('app_profileUserPage', {id: tweet.userId.id}) }}" class="flex gap-x-2">
                <p>{{ tweet.userId.firstName }}</p>
                <p>{{ tweet.userId.lastName }}</p>
            </a>
            <a href="{{ path('app_tweetPage', {id: tweet.id}) }}">
                <p>{{ tweet.createdAt | format_datetime("long", locale="fr") }}</p>
            </a>
        </div>

        <p>{{ tweet.message }}</p>

        <div class="mt-6 flex gap-x-2 card-footer">
            <a href="" class="flex items-center justify-center gap-x-2">
                <img src="{{ asset('img/chat-alt.svg') }}" alt="">
                <p>{{ tweet.parent | length }}</p>
            </a>
            <p>
                |
            </p>

            {% if app.user and app.user.doesLike(tweet) %}
                <a href="{{ path('app_tweet_like', { id: tweet.id }) }}"
                   class="flex items-center justify-center gap-x-2 link-like link-liked">
                    <img class="h-6" src="{{ asset('img/star-fill.svg') }}" alt="">
                </a>
            {% else %}
                <a href="{{ path('app_tweet_like', { id: tweet.id }) }}"
                   class="flex items-center justify-center gap-x-2 link-like">
                    <img class="h-6" src="{{ asset('img/star-empty.svg') }}" alt="">
                </a>
            {% endif %}
            <span>{{ tweet.likers | length }}</span>

        </div>
    </div>
</div>