<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ asset('css/dist/tailwind.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dist/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/likes.js') }}"></script>
        {% endblock %}
    </body>
</html>
