{% extends 'layout/_default.html.twig' %}

{% block main_default %}

    {% block main_head %}
    {% endblock %}

    <div class="w-10/12 mx-auto grid grid-cols-12 my-4 h-60 bg-gray-500 h-60 bg-gray-500">
        {% block main_2_cols %}
            <div class="col-span-9 bg-gray-400"></div>
        {% endblock %}

        {% block asside %}
            <div class="col-span-3 bg-gray-500"></div>
        {% endblock %}
    </div>
{% endblock %}
