{% extends 'base.html.twig' %}

{% block body %}

    <div class="h-screen bg-gray-600 flex flex-col justify-center items-center p-20">
        <div class="mb-16">
            {% block logo %}
                <img class="h-60" src="{{ asset('img/logo-team-ultimate.png') }}" alt="">
            {% endblock %}

        </div>

        {% block main_centered %}{% endblock %}
    </div>

{% endblock %}