{% extends 'base.html.twig' %}

{% block body %}



    {% block nav_bar %}
        {% include 'fragment/_header.html.twig' %}
    {% endblock %}

        {% block main_default %}
            <div class="h-60 bg-gray-800 my-4"></div>
        {% endblock %}

    {% block footer %}
        {% include 'fragment/_footer.html.twig' %}
    {% endblock %}

{% endblock %}